body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    width: 720px;
}

.slider{
    width: 200px;
    padding: 0;
    margin: 0;

    display: inline-block;
    /* display: block; */
    margin-right: 10px;
    vertical-align: middle;
}

.slider-label{
    margin-left: 20px;
    display: inline-block;
    /* display: block; */
    margin: 0, 10px, 10px, 20px;
    vertical-align: middle;
}