
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body
{
  font-family: 'Orbitron', sans-serif;
}


#main {
  position: relative; /* Ensures it sits on top of the fixed canvas */
  min-height: 100vh;
  /*background: rgba(0, 0, 0, 0.8); /* Semi-transparent black so you can still see the stars */
  color: white;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.hero {
  position: relative;
  z-index: 1;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

.hero h1 {
  opacity: 0;
  transform: translateY(100px);
  animation: fadeUp 3.0s ease forwards;
  margin : 0 0 5px 0;
}

.hero h2 {
  opacity: 0;
  transform: translateY(100px);
  animation: fadeUp 3.0s ease forwards;
  animation-delay: 1.5s;
  margin : 0 0 5px 0;
}

.hero a
{
  opacity: 0;
  transform: translateY(100px);
  animation: fadeUp 3.0s ease forwards;
  animation-delay: 3.0s;
  margin: 0 0 0 0;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}